[alias]
	fo = fetch origin
	mom = merge origin/master
	pullo = pull origin
	pusho = push origin
	npusho = ! git push --set-upstream origin $(git pbr)
	pbr = ! git branch 2> /dev/null | sed -e /^[^*]/d -e s/*\\ /\\/
	ch = checkout
	chb = checkout -b
	clall = clean -dfx
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	ca = commit --amen
	freset  = ! git checkout master && git fetch origin && git pull origin master && git clall
	chm = checkout master
        chmp = ! git chm && git fo && git pull && git --no-pager log -n 1
	ca = commit --amen
	cred-store = config credential.helper store
	graphlog = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%an%C(reset)%C(bold yellow)%d%C(reset) %C(dim white)- %s%C(reset)' --all
